nav {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #939393;
    
    h3{
        text-align: center;
        color: #333;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 10px;
    }
}

.map-header{
    text-align: center;
    font-size: 30px;
    border: 0.5px solid lightgray;
    box-shadow: 0px 1px 4px -2px;
    margin-bottom: 0px;
    font-family: fantasy;
    background-color: white;
    height: 50px;

    button{
        font-family: sans-serif;
        margin-top:10px;
        margin-bottom: 10px;
        font-weight: 700;
        background: #29ba74;
        color: #fff;
        padding: 7px 16px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        border-radius: 3px;

    }

    select{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 17px;
        font-family: serif;
        border-left: 5px solid #42A948;
        appearance: auto;
    }
}

.racing-bar-chart-sec{
    bottom: 326px;
    position: relative;
    z-index: 9999999;
    width:25%;
}