
nav {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #939393;
    
    h3{
        text-align: center;
        color: #333;
        font-weight: 600;
        text-transform: uppercase;
    }
}


