<div class="row map-wraper">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 map-header ">
                <label for="Years">{{year}}</label>
            </div>
        </div>
           
        <div class="row" id="wh-map"></div>
        <div class="row map-header">
            <div class="col-md-3">
               
            </div>
            <div class="col-md-3 d-grid gap-2">
                <button (click)="year>1946?year=year-1:year" class="btn btn-outline-success">Previous</button>
            </div>          
            <div class="col-md-3 d-grid gap-2">
                <button (click)="year<2021?year=year+1:year" class="btn btn-outline-success">Next</button>
            </div>        
            <div class="col-md-3">
                
            </div>            
        </div>
    </div>

</div>

