/* You can add global styles to this file, and also import other style files */
$base-color: 'lightgrey';
$nav-color: '#00334c';

body {
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serifarial',helvetica;
    background: #d9d9d9;
}

.country {
    fill: #f7f7f7;
    stroke: rgb(173, 169, 169);
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

#rbc-chart{
  svg{
    background-color: #E5E7E9;
    padding: 10px;
    border: 0;

    text{
      font-size: 11px;
      font-family: Open Sans, sans-serif;
    }
    text.title{
      font-size: 1 rem;
      font-weight: 600;
    }
      text.subTitle{
        font-weight: 500;
        fill: #777777;
      }
      text.caption{
        font-weight: 400;
        font-size: 14px;
        fill: #777777;
      }
      text.label{
        font-weight: 600;
      }
    
      text.valueLabel{
       font-weight: 300;
      }
    
      text.yearText{
        font-size: 30px;
        font-weight: 700;
        opacity: 0.25;
      }
      .tick text {
        fill: #777777;
      }
      .xAxis .tick:nth-child(2) text {
        text-anchor: start;
      }
      .tick line {
        shape-rendering: CrispEdges;
        stroke: #dddddd;
      }
      .tick line.origin{
        stroke: #aaaaaa;
      }
      path.domain{
        display: none;
      }
      
  }
}  

svg {
  border: 10px solid #fff;
  background: #c0d6e4;
  text.title{
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.map-wraper{
    padding-left: 0px;
    padding-right: 0px;
}

#wh-map >*{
    padding-right: 0px;
    padding-left: 0px;
}

#wh-map {
    margin-bottom: 0px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: .2rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
    height:24px
  }

